@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
  /*? night-trip's design system */
  /* font */
  --font-pretendard: var(--font-pretendard);

  /* primary */
  --color-nt-primary: var(--nt-primary-500);
  --color-nt-primary-800: var(--nt-primary-800);
  --color-nt-primary-600: var(--nt-primary-600);
  --color-nt-primary-400: var(--nt-primary-400);
  --color-nt-primary-200: var(--nt-primary-200);
  --color-nt-primary-100: var(--nt-primary-100);

  /* secondary */
  --color-nt-secondary: var(--nt-secondary-400);
  --color-nt-secondary-600: var(--nt-secondary-600);
  --color-nt-secondary-500: var(--nt-secondary-500);
  --color-nt-secondary-200: var(--nt-secondary-200);
  --color-nt-secondary-100: var(--nt-secondary-100);

  /* accent */
  --color-nt-accent-yellow-500: var(--nt-accent-yellow-500);
  --color-nt-accent-yellow-300: var(--nt-accent-yellow-300);
  --color-nt-accent-yellow-100: var(--nt-accent-yellow-100);
  --color-nt-accent-blue-500: var(--nt-accent-blue-500);
  --color-nt-accent-blue-600: var(--nt-accent-blue-600);

  /* neutral */
  --color-nt-neutral-100: var(--nt-neutral-100);
  --color-nt-neutral-200: var(--nt-neutral-200);
  --color-nt-neutral-300: var(--nt-neutral-300);
  --color-nt-neutral-400: var(--nt-neutral-400);
  --color-nt-neutral-500: var(--nt-neutral-500);
  --color-nt-neutral-black: var(--nt-neutral-black);
  --color-nt-neutral-black-light: var(--nt-neutral-black-light);
  --color-nt-neutral-black-lighter: var(--nt-neutral-black-lighter);
  --color-nt-neutral-white: var(--nt-neutral-white);

  /* 경고 및 성공 색상 추가 */
  --color-nt-error: var(--nt-error);
  --color-nt-warn: var(--nt-warn);
  --color-nt-success: var(--nt-success);

  /*? Shadcn 관련 */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  /*? night-trip's design system */
  /* Primary Colors - main: 500 */
  --nt-primary-800: #2f2e57;
  --nt-primary-600: #5e5bae;
  --nt-primary-500: #7672da;
  --nt-primary-400: #918ee1;
  --nt-primary-200: #cc87f0;
  --nt-primary-100: #e4e3f8;

  /* Secondary Colors - main: 400 */
  --nt-secondary-600: #c592b6;
  --nt-secondary-500: #f6b7e3;
  --nt-secondary-400: #fad4ee;
  --nt-secondary-200: #fbe2f4;
  --nt-secondary-100: #fdf1f9;

  /* Accent Colors */
  --nt-accent-yellow-500: #ffd469;
  --nt-accent-yellow-300: #fff5a5;
  --nt-accent-yellow-100: #fffe61;
  --nt-accent-blue-500: #4a90e2;
  --nt-accent-blue-600: #3b83f6;

  /* Semantic Colors */
  --nt-error: #f14668;
  --nt-warn: #ffb700;
  --nt-success: #3cd882;

  /* Neutral Colors */
  --nt-neutral-50: #faf9ff;
  --nt-neutral-100: #f4f3fa;
  --nt-neutral-200: #dad9e3;
  --nt-neutral-250: #dedede;
  --nt-neutral-300: #b5b4ba;
  --nt-neutral-400: #5c5c5c;
  --nt-neutral-black: #000000;
  --nt-neutral-dark-gray: #2c2c2c;
  --nt-neutral-white: #ffffff;

  /*? Shadcn 관련 */
  --radius: 0.5rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary: oklch(0.21 0.006 285.885);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.967 0.001 286.375);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --muted: oklch(0.967 0.001 286.375);
  --muted-foreground: oklch(0.552 0.016 285.938);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.92 0.004 286.32);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

.dark {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.21 0.006 285.885);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.21 0.006 285.885);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.92 0.004 286.32);
  --primary-foreground: oklch(0.21 0.006 285.885);
  --secondary: oklch(0.274 0.006 286.033);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.274 0.006 286.033);
  --muted-foreground: oklch(0.705 0.015 286.067);
  --accent: oklch(0.274 0.006 286.033);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.552 0.016 285.938);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.21 0.006 285.885);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.274 0.006 286.033);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer components {
  .nt-gradient-primary-to-secondary {
    @apply bg-gradient-to-b from-nt-primary to-nt-secondary;
  }
  .mobile-container {
    @apply mx-auto max-w-[375px] w-full;
  }
  .header1 {
    @apply text-2xl font-semibold leading-8;
  }

  .header2 {
    @apply text-xl font-semibold leading-7;
  }

  .header3 {
    @apply text-lg font-semibold leading-[26px];
  }

  .body1 {
    @apply text-base font-normal leading-6;
  }

  .body2 {
    @apply text-sm font-normal leading-5;
  }

  .body3 {
    @apply text-xs font-normal leading-4;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-nt-neutral-white text-nt-neutral-black;
  }
}
